@media screen and (max-width: 768px) {

  header {
    flex-direction:row;
    align-items:center;
    height:140px;
    h1 {

    }
  }

  .headerList {
    text-align:center;
  }

  .buttons {
    width:100%;
  }

  .fieldContainer {
    max-height: calc(100vh - 210px);
  }
}
