@import "partials/normalize";

/*  VARIABLES */

$handwriteFont: "Caveat Brush", cursive;
$printFont: "Gentium Basic", serif;

/*  BASE STYLES */

body {
  background-color: #555;
  min-width: 360px;
  overflow: hidden;
}

h1,
h2,
li {
  cursor: default;
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 10px;
}

/*  COMMON STYLES */

.wrapper {
  max-width: calc(100vw - 60px);
  margin: 20px 30px 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  min-width: 360px;
}

.fieldContainer {
  font-family: "Gentium Basic", serif;
  overflow: scroll;
  max-height: calc(100vh - 170px);
  min-width: 360px;
}

/*  HEADER STYLES */

header {
  background-image: linear-gradient(45deg, rgba(140, 40, 20, 0.2), rgba(220, 100, 100, 0.3)),
    url("../assets/headerLeatherBack.jpg");
  color: white;
  height: 100px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-blend-mode: hard-light;
  font-family: $printFont;
  h1 {
    background-image: url("../assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: center;
    font-size: 3.6rem;
    padding-left: 90px;
    margin-left: 20px;
    flex-grow: 1;
  }
}

.headerList {
  padding-left: 60px;
  flex-grow: 2;
}

.pageButtons {
  width: 140px;
  height: 40px;
  text-align: center;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
  &:hover {
    background-color: white;
    mix-blend-mode: exclusion;
    color: black;
    border-radius: 10px;
  }
}

.buttons {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  flex-grow: 2;
}

/*  PLAYING FIELD */

.messageField {
  width: 10000px;
  height: 10000px;
  background-color: grey;
  background-attachment: fixed;
  background-size: cover;
}

.droppedSign {
  position: relative;
  height: 60px;
  width: 110px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  font-family: $handwriteFont;
  animation: glow 5s alternate infinite 2s, redglow 2s normal 1;
  &::before {
    background-image: url("../assets/glyphs-small.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.5s;
    width: 110px;
    height: 60px;
    border-radius: 100%;
    animation: hovering 15s normal infinite linear;
    content: "";
  }
  &::after {
    content: attr(data-label);
    position: absolute;
    opacity: 0;
    color: white;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 15px;
    padding: 20px;
    transition: opacity 0.5s;
    text-shadow: 0 0 10px orange;
    font: $handwriteFont;
  }
  &:hover,
  &:focus {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}

/*  MSG BOX */

.msgWindow {
  width: 800px;
  height: 80%;
  margin: 0 auto;
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(25px);
  z-index: 100;
  box-shadow: 0 0 15px 2px #000;
  .msgHeader {
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.structureSelect {
  width: 300px;
  height: 40px;
  text-align-last: center;
  border: none;
  color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border-bottom: 3px dotted rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-family: $printFont;
  font-size: 1.3rem;
  &:focus {
    background-image: linear-gradient(#000, grey);
    border-color: rgba(0, 0, 0, 0.7);
  }
  option {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    text-transform: capitalize;
  }
}

.wordCategory {
  width: 100%;
  position: relative;
  h2 {
    user-select: none;
    border: 3px solid orange;
    box-shadow: 0 0 0 3px black;
    background-color: lightslategray;
    height: 50px;
    padding-top: 5px;
    width: calc(80% - 6px);
    margin: 3px 10%;
    font-size: 1.8rem;
    border-radius: 5px;
    color: #ffe;
    text-shadow: 0 0 3px #000;
  }
  ul {
    text-align: center;
    line-height: 20px;
    top: 0;
    position: relative;
    left: 0;
    list-style: none;
    margin: 0 calc(10% - 3px);
    width: 80%;
    padding-left: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
    display: flex;
  }
  & li:nth-child(odd)::before {
    background-color: #bbb;
  }
}

.word {
  font-size: 1.7rem;
  height: 40px;
  max-width: 100%;
  display: none;
  z-index: 1;
  padding-top: 5px;
  min-width: 250px;
  display: none;
  &::before {
    overflow: hidden;
    position: absolute;
    content: "";
    height: 40px;
    width: 100%;
    left: 0;
    z-index: -1;
    transform: translateY(-7px);
  }
  &:hover {
    color: white;
    &::before {
      width: calc(100% - 4px);
      height: 36px;
      border: 2px solid black;
      background-color: darkslategrey;
    }
  }
}

.wordCategory:focus-within .word {
  display: unset;
}

.wordCats {
  position: relative;
  background-color: rgba(200, 200, 200, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.messageWindowButtons {
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.submitButton {
  background-color: #444;
  color: #fff;
  text-transform: uppercase;
  font-family: $printFont;
  border-radius: 0 0 10px 10px;
  border-color: transparent;
  font-size: 1.6rem;
  letter-spacing: 2px;
  &:hover {
    border: 2px solid orange;
    background-color: #555;
    color: #fda;
    text-shadow: 0 0 35px #fff;
  }
  &:focus {
    background-color: #888;
    border-color: #222;
  }
}

.buttonGo {
  width: calc(60% - 5px);
}
.buttonLeave {
  width: calc(40% - 5px);
}

.previewText {
  position: absolute;
  font-size: 2rem;
  margin: 0;
  top: 45px;
  color: #ffd;
  text-shadow: 0 0 10px orange;
  background-color: rgba(0, 0, 0, 0.3);
  right: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: $handwriteFont;
  min-width: 400px;
  line-height: 45px;
}

.imageCredit {
  background: #111;
  display: flex;
  width: 10000px;
}

/*  FOOTER  */

footer {
  color: white;
  text-align: center;
  background-color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
}

/*  ANIMATIONS  */

@keyframes redglow {
  0% {
    background-color: rgba(250, 50, 30, 0);
    box-shadow: 0 0 0 0 rgba(250, 50, 30, 0);
  }
  50% {
    background-color: rgba(250, 50, 30, 0.5);
    box-shadow: 0 0 15px 15px rgba(250, 50, 30, 0.5);
  }
  100% {
    background-color: rgba(240, 150, 30, 0);
    box-shadow: 0 0 10px 10px rgba(240, 150, 30, 0);
  }
}

@keyframes glow {
  from {
    background-color: rgba(240, 150, 30, 0);
    box-shadow: 0 0 10px 10px rgba(240, 150, 30, 0);
  }
  to {
    background-color: rgba(240, 150, 30, 0.4);
    box-shadow: 0 0 25px 25px rgba(240, 150, 30, 0.4);
  }
}

@keyframes hovering {
  // method found at http://lea.verou.me/2012/02/moving-an-element-along-a-circle/
  0% {
    transform: rotate(0deg) translate(-3px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-3px) rotate(-360deg);
  }
}

/*  OVERRIDES */

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -9999;
}

.hiddenList,
.defOption {
  display: none;
}

@import "partials/1024";
@import "partials/768";
